body {
  margin: 0;
  margin-top: 90px;
  background-color: black;
  min-height: 100%;
  color: white;
  /* font-family: Cooper; */
  font-family: Finale Copyist Text Ext;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}